.hero {
  padding: 50px;
  .hero-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;

    .items-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;

      .item {
        border: 1px solid $color1;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;

        i {
          padding-bottom: 30px;
        }
      }
    }

    .lettre-secretaire {
      border: 3px solid $color1;
      padding: 30px;

      h2 {
        text-align: center;
        padding-bottom: 30px;
      }

      .signature {
        font-size: 0.9rem;
        text-align: right;
      }

      ul {
        li {
          text-align: justify;
          list-style-position: inside;
        }
      }
    }
  }
}
