.hero {
  background: url(../img/union.webp) center/cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .heroOverlay {
    background: $whiteShadow;
    padding: 100px 50px;

    h2 {
      padding-bottom: 40px;
      color: $black;
      text-shadow: 0 0 10px $white;
    }

    button {
      a {
        text-shadow: 0 0 5px $white;
      }
    }
  }
}

.lettre {
  padding: 50px;
  .lettre-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;

    .items-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;

      .item {
        border: 1px solid $color1;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;

        i {
          padding-bottom: 30px;
        }
      }
    }

    .lettre-secretaire {
      border: 3px solid $color1;
      padding: 30px;

      h2 {
        text-align: center;
        padding-bottom: 30px;
      }

      .signature {
        font-size: 0.9rem;
        text-align: right;
      }

      ul {
        li {
          text-align: justify;
          list-style-position: inside;
        }
      }
    }
  }
}
