#accueil {
  text-align: center;
  background: url(../img/union.webp) center/cover;

  header {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 450px;
      filter: drop-shadow(0 0 10px $white);
    }
  }

  main {
    height: 30vh;
    margin-top: 0;

    h1 {
      padding-bottom: 40px;
      color: $black;
      text-shadow: 0 0 10px $white;
    }
  }

  footer {
    height: 10vh;
    background: $color1;
    display: flex;
    justify-content: center;
    align-items: center;

    p,
    a {
      color: $white;
      font-size: 0.9rem;
    }
  }
}
