@font-face {
  font-family: "fira-sans-condensed-semi-bold";
  src: url(../fonts/Fira_Sans_Condensed/FiraSansCondensed-SemiBold.ttf);
}
@font-face {
  font-family: "fira-sans-condensed-regular";
  src: url(../fonts/Fira_Sans_Condensed/FiraSansCondensed-Regular.ttf);
}
@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "poppins-bold";
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "poppins", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #000;
}

body {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "fira-sans-condensed-semi-bold", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: normal;
}

p,
a,
i {
  font-size: 1rem;
  text-decoration: none;
  color: #000;
}

a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
a:hover {
  color: #ea4240;
}

strong {
  font-family: "poppins-bold", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

button {
  border: none;
  background: none;
}
button a {
  color: #ea4240;
  border: 3px solid #ea4240;
  border-radius: 360px;
  padding: 5px 20px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-shadow: 0 0 5px #fff;
}
button a:hover {
  background: #ea4240;
  color: #fff;
  text-shadow: 0 0 5px #ea4240;
}

.buttonIcon {
  border: none;
  background: none;
}
.buttonIcon a {
  color: #ea4240;
  display: grid;
  grid-template-columns: 20% 80%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #ea4240;
  border-radius: 360px;
  padding: 0 10px 0 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background: rgba(255, 255, 255, 0.25);
  text-shadow: 0 0 5px #fff;
}
.buttonIcon a:hover {
  background: #ea4240;
  color: #fff;
  text-shadow: 0 0 5px #ea4240;
}
.buttonIcon a i {
  padding: 10px;
  background: #ea4240;
  color: #fff;
  border-radius: 360px;
  border: 3px solid #ea4240;
  text-shadow: 0 0 5px #ea4240;
}

.buttonIconRight {
  border: none;
  background: none;
}
.buttonIconRight a {
  background: rgba(255, 255, 255, 0.25);
  color: #ea4240;
  display: grid;
  grid-template-columns: 73% 27%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #ea4240;
  border-radius: 360px;
  padding: 0 0 0 10px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-shadow: 0 0 5px #fff;
}
.buttonIconRight a:hover {
  background: #ea4240;
  color: #fff;
}
.buttonIconRight a i {
  font-size: 1.3rem;
  padding: 10px;
  margin-left: 5px;
  background: #ea4240;
  color: #fff;
  border-radius: 360px;
  border: 3px solid #ea4240;
  text-shadow: 0 0 5px #ea4240;
}

#accueil .buttonIconRight {
  width: 200px;
}
#accueil .buttonIconRight a {
  background: rgba(255, 255, 255, 0.25);
}
#accueil .buttonIconRight a:hover {
  background: #ea4240;
  color: #fff;
}

.cta {
  background: url(../img/union.webp) center/cover;
}
.cta .overlay {
  padding: 50px;
  background: rgba(255, 255, 255, 0.2);
}
.cta .overlay h2 {
  color: #fff;
  text-shadow: 0 0 5px #000;
  font-size: 2rem;
  padding-bottom: 30px;
}
.cta .overlay p {
  padding-bottom: 40px;
}
.cta .overlay button a {
  background: #ea4240;
  color: #fff;
}
.cta .overlay button a:hover {
  background: rgba(255, 255, 255, 0.25);
  color: #ea4240;
}

header .barre-sup {
  padding: 10px 50px;
  display: grid;
  grid-template-columns: 60% 40%;
  border-bottom: 1px solid #f1f1f1;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 100000000000000000000000000000000000000000;
}
header .barre-sup .menu-barre-sup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
header .barre-sup .menu-barre-sup img {
  width: 15%;
}
header .barre-sup .menu-barre-sup .menuIcons {
  display: none;
}
@media screen and (max-width: 1270px) {
  header .barre-sup .menu-barre-sup .menuIcons {
    display: block;
  }
}
header .barre-sup .menu-barre-sup .menuIcons #closeIcon {
  display: none;
}
@media screen and (max-width: 1270px) {
  header .barre-sup .menu-barre-sup nav {
    display: none;
  }
}
header .barre-sup .menu-barre-sup nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
header .barre-sup .menu-barre-sup nav ul li {
  list-style: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 0 10px;
  cursor: pointer;
}
header .barre-sup .menu-barre-sup nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}
header .barre-sup .menu-barre-sup nav ul li a i {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}
header .barre-sup .menu-barre-sup nav ul li a i:hover {
  color: #ea4240;
}
header .barre-sup div:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
header .barre-sup div:last-of-type button {
  margin: 0 10px;
}
header .barre-sup div:last-of-type button:first-of-type {
  width: 230px;
}
header .barre-sup div:last-of-type button:last-of-type {
  width: 200px;
}
header .barre-sup div:last-of-type button i {
  width: 40px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  margin-top: 112px;
}

footer {
  font-size: 0.9rem;
}
footer p,
footer a {
  font-size: 0.9rem;
}
footer .footer-sup {
  background: #ea4240;
  padding: 20px 0;
}
footer .footer-sup ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-sup ul li {
  list-style: none;
  padding: 0 10px;
}
footer .footer-sup ul li a {
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
footer .footer-sup ul li a:hover {
  color: #000;
}
footer .footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}
footer .footer-copyright .heart {
  color: #ea4240;
}

#accueil {
  text-align: center;
  background: url(../img/union.webp) center/cover;
}
#accueil header {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#accueil header img {
  width: 450px;
  -webkit-filter: drop-shadow(0 0 10px #fff);
          filter: drop-shadow(0 0 10px #fff);
}
#accueil main {
  height: 30vh;
  margin-top: 0;
}
#accueil main h1 {
  padding-bottom: 40px;
  color: #000;
  text-shadow: 0 0 10px #fff;
}
#accueil footer {
  height: 10vh;
  background: #ea4240;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#accueil footer p,
#accueil footer a {
  color: #fff;
  font-size: 0.9rem;
}

.hero {
  background: url(../img/union.webp) center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero .heroOverlay {
  background: rgba(255, 255, 255, 0.25);
  padding: 100px 50px;
}
.hero .heroOverlay h2 {
  padding-bottom: 40px;
  color: #000;
  text-shadow: 0 0 10px #fff;
}
.hero .heroOverlay button a {
  text-shadow: 0 0 5px #fff;
}

.lettre {
  padding: 50px;
}
.lettre .lettre-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 20px;
}
.lettre .lettre-container .items-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.lettre .lettre-container .items-container .item {
  border: 1px solid #ea4240;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}
.lettre .lettre-container .items-container .item i {
  padding-bottom: 30px;
}
.lettre .lettre-container .lettre-secretaire {
  border: 3px solid #ea4240;
  padding: 30px;
}
.lettre .lettre-container .lettre-secretaire h2 {
  text-align: center;
  padding-bottom: 30px;
}
.lettre .lettre-container .lettre-secretaire .signature {
  font-size: 0.9rem;
  text-align: right;
}
.lettre .lettre-container .lettre-secretaire ul li {
  text-align: justify;
  list-style-position: inside;
}/*# sourceMappingURL=index.css.map */