button {
  border: none;
  background: none;

  a {
    text-transform: uppercase;
    color: $color1;
    border: 3px solid $color1;
    border-radius: 360px;
    padding: 5px 20px;
    transition: 0.2s ease-in-out;

    &:hover {
      background: $degrade;
      color: $white;
    }
  }
}

.buttonIcon {
  border: none;
  background: none;
  a {
    color: $color1;
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: start;
    align-items: center;
    border: 3px solid $color1;
    border-radius: 360px;
    padding: 0 10px 0 0;
    transition: 0.2s ease-in-out;
    background: $white;
    text-shadow: 0 0 5px $white;

    &:hover {
      background: $degrade;
      color: $white;
      text-shadow: 0 0 5px $color1;
    }

    i {
      padding: 12px 10px;
      background: $degrade;
      color: $white;
      border-radius: 360px;
      text-shadow: 0 0 5px $color1;
    }
  }
}

.buttonIconRight {
  border: none;
  background: none;
  a {
    background: transparent;
    color: $color1;
    display: grid;
    grid-template-columns: 73% 27%;
    justify-content: start;
    align-items: center;
    border: 3px solid $color1;
    border-radius: 360px;
    padding: 0 0 0 10px;
    transition: 0.2s ease-in-out;
    text-shadow: 0 0 5px $white;

    &:hover {
      background: $degrade;
      color: $white;
      text-shadow: 0 0 5px $color1;
    }

    i {
      font-size: 1.3rem;
      padding: 10px;
      margin-left: 5px;
      background: $degrade;
      color: $white;
      border-radius: 360px;
      border: 3px solid $color1;
      text-shadow: 0 0 5px $color1;
    }
  }
}

#accueil {
  .buttonIconRight {
    width: 200px;

    a {
      background: $whiteShadow;

      &:hover {
        background: $degrade;
        color: $white;
        text-shadow: 0 0 5px $color1;
      }
    }
  }
}

.buttonScrollDown {
  border: none;
  background: none;
  transition: 0.2s;
  a {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    transition: 0.2s;
    &:hover {
      background: none;
      border: none;
    }
    i {
      position: absolute;
      bottom: -35px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $degrade;
      box-shadow: 0 0 5px $blackShadow;
      border: none;
      border-radius: 360px;
      width: 70px;
      height: 70px;
      color: $white;
      text-shadow: none;
      font-size: 1.5rem;
      transition: 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
