header {
  .barre-sup {
    padding: 10px 50px;
    display: grid;
    grid-template-columns: 60% 40%;
    border-bottom: 1px solid $border;
    box-shadow: 0 0 5px $blackShadow;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $white;
    z-index: 99999999999999999999999999999999999999999;

    .menu-barre-sup {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 30px;

      img {
        width: 15%;
      }

      .menuIcons {
        display: none;

        @media screen and (max-width: 1270px) {
          display: block;
        }

        #closeIcon {
          display: none;
        }
      }

      nav {
        @media screen and (max-width: 1270px) {
          display: none;
        }

        ul {
          display: flex;
          justify-content: space-evenly;

          li {
            list-style: none;
            transition: 0.2s;
            padding: 0 10px 10px;
            cursor: pointer;
            position: relative;

            &:hover {
              i {
                color: $color1;
              }
            }

            a {
              display: flex;
              width: 100%;
              height: 100%;

              i {
                transition: 0.2s;
                transform: translate(25%, 25%);
                font-size: 0.9rem;

                &:hover {
                  color: $color1;
                }
              }
            }

            #sousNav1,
            #sousNav2,
            #sousNav3 {
              display: none;
              position: absolute;
              z-index: 999999999999999999999999999999999999999999;
              margin-top: 5px;

              ul {
                box-shadow: 0 0 5px $blackShadow;
                border-radius: 10px;
                background: $white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                // gap: 10px;
                // width: 250px;

                li {
                  border-bottom: 1px solid $border;
                  width: 100%;
                  padding: 10px 20px;

                  &:first-of-type {
                    border-radius: 10px 10px 0 0;
                  }

                  &:last-of-type {
                    border-radius: 0 0 10px 10px;
                  }

                  &:hover {
                    background: $degrade;

                    a {
                      color: $white;
                    }
                  }
                  a {
                    text-align: left;
                    font-size: 0.9rem;
                    color: $black;
                  }
                }
              }
            }

            #sousNav1 {
              ul {
                width: 250px;
              }
            }

            #sousNav2 {
              ul {
                width: 300px;
              }
            }

            #sousNav3 {
              ul {
                width: 150px;
              }
            }
          }
        }
      }
    }

    div {
      &:last-of-type {
        display: flex;
        justify-content: end;

        button {
          margin: 0 10px;

          &:first-of-type {
            width: 230px;
          }

          &:last-of-type {
            width: 200px;
          }
          i {
            width: 40px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
