header {
  .barre-sup {
    padding: 10px 50px;
    display: grid;
    grid-template-columns: 60% 40%;
    border-bottom: 1px solid $border;
    box-shadow: 0 0 5px $blackShadow;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $white;
    z-index: 99999999999999999999999999999999999999999;

    @media screen and (max-width: 1277px) {
      grid-template-columns: 1fr;
      height: 15vh;
    }

    .menu-barre-sup {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 30px;

      @media screen and (max-width: 1277px) {
        display: flex;
        justify-content: space-between;
      }

      img {
        width: 15%;

        @media screen and (max-width: 1277px) {
          height: 10vh;
          width: auto;
        }
      }

      .menuIcons {
        display: none;
        i {
          font-size: 1.5rem;
          color: $color1;
        }

        @media screen and (max-width: 1346px) {
          display: block;
        }

        #closeIcon {
          display: none;
        }
      }

      nav {
        transition: 0.2s;
        @media screen and (max-width: 1346px) {
          display: none;
        }

        ul {
          display: flex;
          justify-content: space-evenly;
          align-items: center;

          @media screen and (max-width: 1346px) {
            flex-direction: column;
            position: absolute;
            top: 80px;
            right: 0;
            background: $white;
            height: 100vh;
            padding: 20px 50px;
            gap: 20px;
            justify-content: start;
            align-items: start;
          }
          li {
            list-style: none;
            transition: 0.2s;
            padding: 0 10px;
            cursor: url(../img/cursor-hover.ico), pointer;
            position: relative;

            &:hover {
              i {
                color: $color1;
              }
            }

            a {
              display: flex;
              width: 100%;
              height: 100%;

              i {
                transition: 0.2s;
                font-size: 1.5rem;

                @media screen and (max-width: 1346px) {
                  display: none;
                }

                &:hover {
                  color: $color1;
                }
              }

              .fa-chevron-down {
                transform: translate(25%, 20%);
                font-size: 0.9rem;
              }
            }

            #sousNav1,
            #sousNav2,
            #sousNav3 {
              display: none;
              position: absolute;
              z-index: 999999999999999999999999999999999999999999;

              @media screen and (max-width: 1346px) {
                display: none;
                position: static;
              }

              ul {
                box-shadow: 0 0 5px $blackShadow;
                border-radius: 10px;
                background: $white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                @media screen and (max-width: 1346px) {
                  display: none;
                }

                li {
                  border-bottom: 1px solid $border;
                  width: 100%;
                  padding: 10px 20px;
                  @media screen and (max-width: 1346px) {
                    display: none;
                  }

                  &:first-of-type {
                    border-radius: 10px 10px 0 0;
                  }

                  &:last-of-type {
                    border-radius: 0 0 10px 10px;
                  }

                  &:hover {
                    background: $degrade;

                    a {
                      color: $white;
                    }
                  }
                  a {
                    text-align: left;
                    font-size: 0.9rem;
                    color: $black;
                    display: flex;
                    width: 100%;
                    height: 100%;
                  }
                }
              }
            }

            #sousNav1 {
              ul {
                width: 250px;
              }
            }

            #sousNav2 {
              ul {
                width: 300px;
              }
            }

            #sousNav3 {
              ul {
                width: 150px;
              }
            }
          }
        }
      }
    }

    div {
      @media screen and (max-width: 1277px) {
        display: flex;
        gap: 10px;
      }

      &:last-of-type {
        display: flex;
        justify-content: end;

        .buttonIcon {
          margin: 0 10px;

          &:first-of-type {
            width: 230px;
          }

          &:last-of-type {
            width: 200px;
          }
          i {
            width: 40px;
            height: 40px;
            display: flex;
            margin-right: 15px;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }

  .button-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      border: 3px solid transparent;
      background: $degrade;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      border-radius: 360px;
      transition: 0.2s;

      &:hover {
        border: 3px solid $color1;
        background: transparent;
        color: $color1;
      }
    }
  }

  @media screen and (max-width: 1277px) {
    .buttonIcon {
      display: none;
    }
  }

  .responsive-li {
    display: none;

    @media screen and (max-width: 1346px) {
      display: block;
    }
  }
}
